*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.container__header{
    display: flex;
    background-color: rgb(193, 233, 193);
    width: 100vw;     
    color: darkblue;
    font-size: 1.7rem;
    flex-direction: column;
}
.container__header__logo{
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container__header__logo-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap; 
}
.container__header__logo-center p{
    text-align: center;
}
.container__header__logo img{
    height: 60px;
    width: 60px;
    
}
.container__header__menu{
    display: flex;
      
}
.container__header__menu-ul{
    width: 100vw;
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 10px;
    flex-direction: column;
    
}
.container__header__menu-ul li{
    font-size: 2rem;
    padding: 0 10px;
    color: darkblue;
    flex-grow: 1;

}
.container__main {
    display: flex;
    flex-wrap: wrap;
    
}
.container__main__menu{
    width: 100vw;
    height: 30vh;
    background-image: url("../assets/img/ambienteC.jpg");
    background-size: 130% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__main__menu p{
    font-size: 2rem;
    color: darkblue;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__main__clas {
    display: flex;
    flex-direction: column;
 
}
.container__main__clas1{
    width: 100vw;
    height: 10vh;
    background-color: rgb(166, 166, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1.5px;
}
.container__main__clas2{
    width: 100vw;
    height: 10vh;
    background-color: rgb(112, 137, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1.5px;
}
.container__main__clas3{
    width: 100vw;
    height: 10vh;
    background-color: rgb(192, 185, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1.5px;
}
.container__main__menu2{
    margin: 5px 0;
    width: 100vw;
    height: 60vh;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.container__footer {
    display: flex;
    font-size: 1.5rem;
    flex-wrap: wrap; 
    
}
.container__footer__contact {
    margin: 10px 0;
    width: 100vw;
    height: 10vh;
    background-color: bisque;
    border: blue solid 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__footer__position {
    margin: 10px 0;
    width: 100vw;
    height: 10vh;
    background-color: bisque;
    border: blue solid 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__footer__social {
    margin: 10px 0;
    width: 100vw;
    height: 10vh;
    background-color: bisque;
    border: blue solid 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}